<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NTS TEST</title>

  </head>


  <style>
    body {
    	font: 16px/1.5em Lato, sans-serif;
    }
    .pull-left {
    	margin: 0 20px 0 0;
    	width: 80px;
    }
    .pull-right {
    	margin: 0 0 0 20px;
    	width: 80px;
    }
    .progress {
    	position: relative;
    }
    .center-bar {
    	border-left: 1px dashed #FFF;
    	height: 100%;
    	left: 50%;
    	position: absolute;
    }
    @media (min-width: 992px) {

    	ol li {
    		float: left;
    		margin-bottom: 1em;
    		width: 50%;
    	}

    }
  </style>

<body>

  <form>

    <!-- Toolbar -->
    <div class="container">
    	<div class="page-header">
        	<h1>NTS Test</h1>
      </div>

      <div class="card" style="width: 100%;">
        <div class="card-body">
          <div class="form-group mt-3">
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input class="form-control" id="nombre" placeholder="Ingrese su nombre completo">
              </div>
              <div class="form-group mt-3">
                <label for="ci">Nro. Cedula</label>
                <input class="form-control" id="ci" placeholder="Ingrese su número de cédula">
              </div>
           </div>
        </div>
      </div>

    	<ol class="mt-4">
        <h3>Complete el siguiente cuestionario</h3>
        	<li><strong>En una fiesta usted interactúa:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q1" value="e">
        	            Con muchas personas, incluyendo desconocidos
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q1" value="i">
        	            Con pocas personas, preferiblemente conocidas por usted
                    </label>
                </div>
            </li>

        	<li><strong>Eres más:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q2" value="s">
        	            Realista que especulativo
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q2" value="n">
        	            Especulativo que realista
                    </label>
                </div>
            </li>

        	<li><strong>Es peor:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q3" value="s">
        	            Tener tu “mente en las nuves”
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q3" value="n">
        	            Vivir “en una rutina”
                    </label>
                </div>
            </li>

        	<li><strong>Estas más impresionado por:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q4" value="t">
        	            Los principios, los razonamientos
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q4" value="f">
        	            Las emociones, los sentimientos
                    </label>
                </div>
            </li>

        	<li><strong>Te sientes más atraído/a por lo:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q5" value="t">
        	            Lo convincente aunque sea teórico
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q5" value="f">
        	            Lo experimentable
                    </label>
                </div>
            </li>

        	<li><strong>Prefieres trabajar:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q6" value="j">
        	            A plazos, en base a fechas límites
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q6" value="p">
        	            Cuando sea posible realizar, con flexibilidad en fechas
                    </label>
                </div>
            </li>

        	<li><strong>Toma usted sus decisiones:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q7" value="j">
        	            Muy cuidadosamente
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q7" value="p">
        	            Algo impulsivamente
                    </label>
                </div>
            </li>

        	<li><strong>Cuando usted va a una fiesta:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q8" value="e">
        	            Se queda hasta muy tarde y siente que sus energías crecen con eltiempo
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q8" value="i">
        	            Se retira temprano y a veces siente que su energía se “reduce”conforme pasan las horas
                    </label>
                </div>
            </li>

        	<li><strong>A usted le atraen más:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q9" value="s">
        	            Las personas sensibles
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q9" value="n">
        	            Las personas imaginativas
                    </label>
                </div>
            </li>

        	<li><strong>Se interesa más:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q10" value="s">
        	            Por lo que es real, lo concreto, lo existente
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q10" value="n">
        	            Por lo que es posible, lo potencial
                    </label>
                </div>
            </li>

        	<li><strong>Al juzgar a los demás, te dejas influir más por:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q11" value="t">
        	            Leyes que circunstancias
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q11" value="f">
        	            Circunstancias que leyes
                    </label>
                </div>
            </li>

        	<li><strong>Cuando se relaciona o se dirige a otras personas en su trabajo, su inclinación es más:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q12" value="t">
        	            Objetiva, racional, analítica
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q12" value="f">
        	            Personal, afectiva
                    </label>
                </div>
            </li>

        	<li><strong>En general, usted tiende a ser:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q13" value="j">
        	            Puntual en sus responsabilidades
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q13" value="p">
        	            Algo impuntual, a veces se atrasa
                    </label>
                </div>
            </li>

        	<li><strong>¿Qué le molesta a usted más?:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q14" value="j">
        	            Tener sus cosas sin terminar
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q14" value="p">
        	            Tener sus cosas terminadas
                    </label>
                </div>
            </li>

        	<li><strong>En tu grupo social:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q15" value="e">
        	            Te mantienes al tanto de los acontecimientos de los demás
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q15" value="i">
        	            Estás un poco alejado/a de las noticias
                    </label>
                </div>
            </li>

        	<li><strong>Cuando debe hacer cosas ordinarias, normales, que otras personas también hacen:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q16" value="s">
        	            Usted las hace en forma convencional, similar a los otros
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q16" value="n">
        	            Usted las hace en su propia manera
                    </label>
                </div>
            </li>

        	<li><strong>Los escritores deberían:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q17" value="s">
        	            Decir las cosas directa y claramente
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q17" value="n">
        	            Expresar las cosas más bien en forma de analogías, metáforas, imaginativamente
                    </label>
                </div>
            </li>

        	<li><strong>¿Que te atrae más?:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q18" value="t">
        	            La consistencia en el razonamiento
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q18" value="f">
        	            La armonía en las relaciones humanas
                    </label>
                </div>
            </li>

        	<li><strong>¿Estás más cómodo/a emitiendo?:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q19" value="t">
        	            Juicios y decisiones lógicas, racionales, basadas en hechos, datos y razonamientos
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q19" value="f">
        	            Juicios y decisiones basadas en valores y principios
                    </label>
                </div>
            </li>

        	<li><strong>¿Cómo prefiere usted las cosas?:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q20" value="j">
        	            Establecidas y decididas, muy planeadas
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q20" value="p">
        	            No establecidas y no decididas, con flexibilidad
                    </label>
                </div>
            </li>

        	<li><strong>¿Dirías que eres más una persona?:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q21" value="j">
        	            Seria, determinada
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q21" value="p">
        	            Flexible, abierta
                    </label>
                </div>
            </li>

        	<li><strong>Cuando usted va a realizar una llamada telefónica:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q22" value="e">
        	            Raramente se cuestiona sobre todo lo que dirá
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q22" value="i">
        	            Ensaya lo que va a decir
                    </label>
                </div>
            </li>

        	<li><strong>Los hechos:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q23" value="s">
        	            Hablan por si mismos y deben juzgarse directamente
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q23" value="n">
        	            Ilustran principios, pueden ser relativos
                    </label>
                </div>
            </li>

        	<li><strong>Las personas visionarias, que piensan mucho en el futuro:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q24" value="s">
        	            Son algo molestas
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q24" value="n">
        	            Son fascinantes
                    </label>
                </div>
            </li>

        	<li><strong>Frecuentemente, eres más:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q25" value="t">
        	            Una persona con la cabeza fría
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q25" value="f">
        	            Una persona de corazón calido
                    </label>
                </div>
            </li>

        	<li><strong>Es peor ser:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q26" value="t">
        	            Injusto
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q26" value="f">
        	            Despiadado
                    </label>
                </div>
            </li>

        	<li><strong>¿Debería uno dejar que los eventos ocurran:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q27" value="j">
        	            Por una cuidadosa selección, planeadamente
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q27" value="p">
        	            Al azar y por casualidad, con flexibilidad
                    </label>
                </div>
            </li>

        	<li><strong>Te sientes mejor:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q28" value="j">
        	            Comprando algo
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q28" value="p">
        	            Teniendo la posibilidad de comprar algo, sin haberlo hecho
                    </label>
                </div>
            </li>

        	<li><strong>Cuando usted está con otra persona:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q29" value="e">
        	            Inicia la conversación
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q29" value="i">
        	            Espera que la otra persona la inicie
                    </label>
                </div>
            </li>

        	<li><strong>El sentido común es:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q30" value="s">
        	            Raramente cuestionable
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q30" value="n">
        	            Frecuentemente cuestionable
                    </label>
                </div>
            </li>

          <li><strong>Usted aprecia más en los niños que ellos:</strong><br>
                  <div class="radio">
                      <label>
                        <input type="radio" name="q31" value="s">
                        Hagan uso de sus propias habilidades, practiquen cosas, hagan labores físicas
                      </label>
                  </div>
                  <div class="radio">
                      <label>
                        <input type="radio" name="q31" value="n">
                        Ejerciten sus fantasías, su imaginación, hagan juegos mentales
                      </label>
                  </div>
            </li>

        	<li><strong>En la toma de decisiones, ¿usted se siente mejor considerando?:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q32" value="t">
        	            Criterios fijos (estándares)
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q32" value="f">
        	            Sentimientos
                    </label>
                </div>
            </li>

        	<li><strong>Eres más:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q33" value="t">
        	            Firme que gentil
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q33" value="f">
        	            Gentil que firme
                    </label>
                </div>
            </li>

        	<li><strong>¿Qué es más admirable?:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q34" value="j">
        	            La capacidad de organizarse y ser metódico/a
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q34" value="p">
        	            La capacidad de adaptarse y hacer las cosas flexiblemente
                    </label>
                </div>
            </li>

        	<li><strong>¿Qué valora usted más?:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q35" value="j">
        	            Una persona definitiva
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q35" value="p">
        	            Una persona de mente abierta
                    </label>
                </div>
            </li>

        	<li><strong>Cuando usted experimenta nuevas interacciones personales:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q36" value="e">
        	            Se siente con más estímulo y energía
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q36" value="i">
        	            Siente que su energía se reduce
                    </label>
                </div>
            </li>

        	<li><strong>Generalmente, eres más?:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q37" value="s">
        	            Una persona práctica
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q37" value="n">
        	            Una persona imaginativa
                    </label>
                </div>
            </li>

        	<li><strong>Usted tiende más a:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q38" value="s">
        	            Ver como otros pueden ser útiles, cómo hacen o concretan las cosas
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q38" value="n">
        	            Ver como otros perciben, piensan e imaginan
                    </label>
                </div>
            </li>

        	<li><strong>Qué es más satisfactorio?:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q39" value="t">
        	            Discutir un tema profundamente antes de decidir sobre el mismo
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q39" value="f">
        	            Llegar rápidamente a un acuerdo sobre un tema
                    </label>
                </div>
            </li>



        	<li><strong>¿Que te controla más?:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q40" value="t">
        	            El cerebro
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q40" value="f">
        	            El corazón
                    </label>
                </div>
            </li>

        	<li><strong>Se siente usted mejor con un trabajo:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q41" value="j">
        	            Contratado, fijo, permanente
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q41" value="p">
        	            Hecho de manera casual, temporal
                    </label>
                </div>
            </li>

        	<li><strong>¿Tiendes a buscar:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q42" value="j">
        	            Lo ordenado
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q42" value="p">
        	            "Lo que sea salga"
                    </label>
                </div>
            </li>

        	<li><strong>¿Prefieres:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q43" value="e">
        	            Muchos amigos y poco contacto con ellos
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q43" value="i">
        	            Pocos amigos y mucho contacto con ellos
                    </label>
                </div>
            </li>

        	<li><strong>Usted busca más los:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q44" value="s">
        	            Hechos
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q44" value="n">
        	            Principios
                    </label>
                </div>
            </li>

        	<li><strong>Está más interesado/a en:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q45" value="s">
        	            Producción y distribución
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q45" value="n">
        	            Diseño e investigación
                    </label>
                </div>
            </li>

        	<li><strong>¿Cuál frase le agradaría a usted escuchar más acerca de usted mismo?:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q46" value="t">
        	            “Es una persona muy lógica.”
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q46" value="f">
        	            “Es una persona muy emotiva.”
                    </label>
                </div>
            </li>

        	<li><strong>En usted mismo, valora más:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q47" value="t">
        	            Ser seguro, no tener dudas
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q47" value="f">
        	            Ser fiel, devoto, comprometido
                    </label>
                </div>
            </li>

        	<li><strong>¿Prefiere más una:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q48" value="j">
        	            Declaración final e inalterable
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q48" value="p">
        	            Declaración tentativa y preliminar
                    </label>
                </div>
            </li>

        	<li><strong>¿Te sientes más cómodo/a:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q49" value="j">
        	            Después de una decisión
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q49" value="p">
        	            Antes de una decisión
                    </label>
                </div>
            </li>

        	<li><strong>Usted:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q50" value="e">
        	            Habla fácil y largamente con extraños
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q50" value="i">
        	            Encuentra poco que decir a extraños
                    </label>
                </div>
            </li>

        	<li><strong>Usted confía más en su:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q51" value="s">
        	            Experiencia
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q51" value="n">
        	            Corazonada, intuición
                    </label>
                </div>
            </li>

        	<li><strong>Usted se percibe como una persona:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q52" value="s">
        	            Más práctica que ingeniosa
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q52" value="n">
        	            Más ingeniosa que práctica
                    </label>
                </div>
            </li>

        	<li><strong>¿Cuál persona merece más reconocimiento?:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q53" value="t">
        	            Una que guía su desempeño con razonamiento claro y lógico
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q53" value="f">
        	            Una que guía su desempeño con sentimientos profundos
                    </label>
                </div>
            </li>



        	<li><strong>Usted tiende a ser una persona más:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q54" value="t">
        	            Imparcial, objetiva
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q54" value="f">
        	            Empática, subjetiva
                    </label>
                </div>
            </li>

        	<li><strong>Usted prefiere:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q55" value="j">
        	            Estar seguro que las cosas y detalles estén bien arreglados
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q55" value="p">
        	            Dejar que las cosas pasen, con flexibilidad
                    </label>
                </div>
            </li>

        	<li><strong>En las relaciones personales, las cosas deberían:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q56" value="j">
        	            Ser negociadas, definidas, muy claras
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q56" value="p">
        	            Ser circunstanciales, espontáneas
                    </label>
                </div>
            </li>

        	<li><strong>Cuando el teléfono suena:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q57" value="e">
        	            Usted quiere ser el primero en contestar
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q57" value="i">
        	            Usted desea que alguien más lo conteste
                    </label>
                </div>
            </li>

        	<li><strong>¿Qué aprecia más en una persona?:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q58" value="s">
        	            Un fuerte sentido de la realidad
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q58" value="n">
        	            Una viva imaginación
                    </label>
                </div>
            </li>

        	<li><strong>Usted es más atraído por:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q59" value="s">
        	            Lo fundamental, lo básico, en cada situación
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q59" value="n">
        	            Lo sobresaliente, lo distinto, en cada situación
                    </label>
                </div>
            </li>

        	<li><strong>¿Qué error es más grave?:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q60" value="t">
        	            Ser demasiado apasionado
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q60" value="f">
        	            Ser demasiado objetivo
                    </label>
                </div>
            </li>

        	<li><strong>Usted se ve a sí mismo básicamente como:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q61" value="t">
        	            Una persona de “cabeza dura”
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q61" value="f">
        	            Una persona de “corazón suave”
                    </label>
                </div>
            </li>

        	<li><strong>¿Qué situación le atrae más?:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q62" value="j">
        	            Lo estructurado y programado
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q62" value="p">
        	            Lo no estructurado y no programado
                    </label>
                </div>
            </li>

        	<li><strong>Eres una persona:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q63" value="j">
        	            Más rutinaria que caprichosa o antojadiza
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q63" value="p">
        	            Más caprichosa y antojadiza que rutinaria
                    </label>
                </div>
            </li>

        	<li><strong>Eres una persona más inclinada a:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q64" value="e">
        	            Interactuar con facilidad con otras personas
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q64" value="i">
        	            Ser reservada, con inclinación a interactuar con muy pocas personas
                    </label>
                </div>
            </li>

        	<li><strong>En lo escrito, usted prefiere:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q65" value="s">
        	            Más lo literal
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q65" value="n">
        	            Más lo figurativo
                    </label>
                </div>
            </li>

        	<li><strong>Es más difícil para usted:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q66" value="s">
        	            Identificarse con otros
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q66" value="n">
        	            Utilizar a otros
                    </label>
                </div>
            </li>

        	<li><strong>¿Qué desea más para usted mismo?:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q67" value="t">
        	            Claridad de razonamiento
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q67" value="f">
        	            Tener fuerte compasión hacia otros
                    </label>
                </div>
            </li>

        	<li><strong>¿Que podría ser peor?:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q68" value="t">
        	            Ser indiscriminado, parecido a los otros, con criterios similares alos de otras personas
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q68" value="f">
        	            Ser muy crítico, algo inconforme
                    </label>
                </div>
            </li>

        	<li><strong>Usted prefiere acontecimientos y eventos:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q69" value="j">
        	            Planeados
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q69" value="p">
        	            No planeados
                    </label>
                </div>
            </li>

        	<li><strong>Usted tiende a ser una persona:</strong><br>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q70" value="j">
        	            Más deliberada y planeadora que espontánea
                    </label>
                </div>
                <div class="radio">
                    <label>
    	                <input type="radio" name="q70" value="p">
        	            Más espontánea que deliberada y planeadora
                    </label>
                </div>
            </li>
        </ol>


    	<p id="scroll-down" class="hidden text-center mt-4">(<i>scroll down</i>)</p>
    	<p class="text-center mt-4">
        <button type="button" id="submit" class="btn btn-primary btn-lg"
          (click)="procesar()">Enviar Resultados</button>
      </p>




        <div id="results" class="text-center hidden">
            <br><br>
    		<h2 id="type"></h2>
            <p id="type-details" class="type-description hidden">
            	<strong id="type-title"></strong><br>
                <strong><span id="type-percentage"></span> of population</strong><br>
                <span id="type-description"></span><br>
                <a id="type-site" href="#" target="_blank">Learn more about your type here</a>
            </p>
            <p class="pull-left" style="float: left!important;"><span class="badge bg-secondary">E</span> (<span id="eScore"></span>%)</p>
            <p class="pull-right" style="float: right!important;">(<span id="iScore"></span>%) <span class="badge bg-secondary">I</span></p>
            <div class="progress">
            	<div id="eiChart" class="progress-bar bg-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                <div class="center-bar"></div>
            </div>
    	    <br class="clearfix">

            <p class="pull-left" style="float: left!important;"><span class="badge bg-secondary">S</span> (<span id="sScore"></span>%)</p>
            <p class="pull-right" style="float: right!important;">(<span id="nScore"></span>%) <span class="badge bg-secondary">N</span></p>
            <div class="progress">
            	<div id="snChart" class="progress-bar bg-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                <div class="center-bar"></div>
            </div>
            <br class="clearfix">

            <p class="pull-left" style="float: left!important;"><span class="badge bg-secondary">T</span> (<span id="tScore"></span>%)</p>
            <p class="pull-right" style="float: right!important;">(<span id="fScore"></span>%) <span class="badge bg-secondary">F</span></p>
            <div class="progress">
            	<div id="tfChart" class="progress-bar bg-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                <div class="center-bar"></div>
            </div>
            <br class="clearfix">

            <p class="pull-left" style="float: left!important;"><span class="badge bg-secondary">J</span> (<span id="jScore"></span>%)</p>
            <p class="pull-right" style="float: right!important;">(<span id="pScore"></span>%) <span class="badge bg-secondary">P</span></p>
            <div class="progress">
            	<div id="jpChart" class="progress-bar bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                <div class="center-bar"></div>
            </div>
            <br class="clearfix">
        </div>

    </div>

  </form>

  </body>
</html>







<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
